/* Globel */
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
	font-family: 微軟正黑體;
}
.wrapper{
	background-color: #eee;
	min-height: 100vh;
}


/* Utility */
.u-text-center{text-align: center !important;}
.u-text-right{text-align: right !important;}
.u-mt-24{margin-top: 24px !important;}
.u-mt-48{margin-top : 48px !important;}
.u-mb-48{margin-bottom: 48px !important;}
.u-mb-24{margin-bottom: 24px !important;}
.u-mb-32{margin-bottom: 32px !important;}
.u-pl-8{padding-left: 8px !important;}
.u-pr-8{padding-right: 8px !important;}
@media (min-width: 768px){
    .u-pl-8--desktop{padding-left: 8px !important;}
    .u-pr-8--desktop{padding-right: 8px !important;}
}
@media(max-width:768px){
    .u-mb-24--mobile{margin-bottom: 24px !important;}
}

/* Heading&Text */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
.heading{
	font-size: 24px;
	color: #666;
	font-weight: 700;
}
.h3{
	font-size: 20px;
	color: #666;
}

/* Components */

/* Card */
.card{
	padding: 48px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}
/* Btn */
.btn{
    font-family: inherit; /* 繼承父層元素 */
	font-size: 100%;
	padding: 12px 48px; 
	color: #000;
	border: 1px solid #999;
	background-color: #e6e6e6;
	text-decoration: none;
	border-radius: 4px;
	line-height: 24px;
}
input.btn:focus{
    outline: 0;  /* 把點擊的光圈關掉 */
}
.btn.btn--primary{
	background-color: #53db9b;
	color: #fff;
	border: 0px;
}
.btn.btn--primary:hover{
	background-color: #4bc68d;
}

/* Form */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
}
/* Focus */
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
    outline: 0;
    border-color: #53db9b;
}

.form label{
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: middle;
	color: #666;
}